/** InfoBubble */
.H_ib {
    position: absolute;
    left: .91em;
    left: -100%;
  }
  .H_ib_tail {
    position: absolute;
    width: 20px;
    height: 10px;
    margin: -10px -10px;
    
  }
  
  .H_ib_tail::before{
    bottom: -1px;
    border-width: 10px;
    position: absolute;
    display: block;
    content: "";
    border-color: transparent;
    border-style: solid;
    right: 0px;
  }
  
  .H_ib_tail::after{
    bottom: 0;
    position: absolute;
    display: block;
    content: "";
    border-color: white;
    border-style: solid;
    border-width: 10px;
    
  }
  
  .H_ib.H_ib_top .H_ib_tail::after {
    border-width: 10px 10px 0px 10px;
    border-color: white transparent;
  }
  
  .H_ib.H_ib_top .H_ib_tail::before {
    border-top-color: rgba(15, 22, 33, 0.2);
    border-bottom-width: 0px;
  }
  
  .H_ib_notail .H_ib_tail {
    display: none;
  }
  .H_ib_body {
    background: white;
    position: absolute;
    bottom: .5em;
    padding: 0;
    right: 0px;
    border-radius: 5px;
    margin-right: -3em;
    box-shadow: 0px 0 4px 0 rgba(15, 22, 33, 0.6);
    margin-bottom: 0.5em;
    /*my changes*/
    background-color:#0f1621;
    width: 300px;
  }
  
  .H_ib_close {
    font-size: .6em;
    position: absolute;
    right: 12px;
    width: 12px;
    height: 12px;
    cursor: pointer;
    top: 12px;
    z-index: 1;
    background: none;
    box-shadow: none;
  }
  
  .H_ib_close svg.H_icon {
      top: 0;
      transform: none;
      width: auto;
      height: auto;
  }
  
  .H_ib_noclose .H_ib_close {
    display: none;
  }
  .H_ib_noclose .H_ib_body {
    padding: 0 0 0 0;
  }
  
  .H_ib_content {
    min-width: 6em;
    font: 14px "Lucida Grande", Arial, Helvetica, sans-serif;
    line-height: 24px;
    margin: 16px 28px 20px 16px;
    user-select: text;
    -moz-user-select: text;
    -khtml-user-select: text;
    -webkit-user-select: text;
    -o-user-select: text;
    -ms-user-select: text;
    list-style: none;
    text-decoration: none;
    color:white;
  }
  


/*###################################################  ICON  #########################################################*/
svg.H_icon {
    display: block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin:auto;
    width: 24px;
    height: 24px;
    fill: black;
    /*fill: white;*/
  }
  svg.H_icon .H_icon_stroke {
    stroke: rgba(15, 22, 33, 0.6);
    fill: none;
  }
  .H_btn:hover > svg.H_icon {
    fill: rgba(15, 22, 33, 0.8);
  }
  .H_btn:hover > svg.H_icon .H_icon_stroke {
    stroke: rgba(15, 22, 33, 0.8);
  }
  .H_btn.H_active {
    background-color: #CFD0D3;
  }
  .H_rdo .H_btn.H_active {
    background: none;
  }
  
  .H_active > svg.H_icon,
  .H_active:hover > svg.H_icon {
    fill: #0F1621 !important;
  }
  .H_active > svg.H_icon .H_icon_stroke,
  .H_active:hover > svg.H_icon .H_icon_stroke {
    stroke: #0F1621;
  }
  
  .H_disabled svg.H_icon,
  .H_disabled:hover svg.H_icon {
    fill: rgba(15, 22, 33, 0.2);
    cursor: default;
  }
  .H_disabled svg.H_icon .H_icon_stroke,
  .H_disabled:hover svg.H_icon .H_icon_stroke {
    stroke: rgba(15, 22, 33, 0.2);
  }
  



/*change close button color in info-bubble*/
.H_ib_close.H_btn > svg.H_icon{fill: white;}